<footer>
    <p>
        Coding Ninjas. All Rights Reserved
    </p>
    <ul>
        <li>
           <a href="/">Home</a>
        </li>
        <li>
          <a href="/users/profile/<%= locals.user.id %>">Profile</a>
        </li>
    </ul>
</footer>