#home-container{
    display: flex;

    #feed-posts{
        width: 70%;
        padding: 10px;
    }
    
    #users-container{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       width: 30%;
       padding: 10px;
       border-left: 2px solid lightgrey;
       height: 100%;
       
    }
}